<br>

<div class="container">
  <h1 class="title">
    タグ管理
  </h1>

  <div class="box">
    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <%= render 'form' %>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <div class="tags">
            <% @tags.each do |tag| %>
              <span class="tag is-danger">
                <%= tag.name %>
              </span>
              <%= link_to '', tag_path(@site, tag), method: :delete, data: { confirm: '本当に削除しますか？' }, :class => "tag is-delete" %>
            <% end %>
          </div>
        </div>
      </div>

    </nav>
   
  </div>
</div>
<br>


