<section class="hero is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            新規サイト作成
          </h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>